.container {
  margin: 0 50px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: end;
  align-items: center;
  column-gap: 6vw;
  box-sizing: border-box;
  margin: 95px 50px 93px 50px;
}


.header__menu-list {
  display: flex;
  gap: 32px;
}

.header__menu-list-item {
  list-style: circle;
  text-wrap: nowrap;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__link {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.header__logo-link {
  justify-self: center;
}

.header__logo-image {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  width: 240px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

/* Начало секции COVER  */

.cover {
  position: relative;
  padding-bottom: 58px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 172px 50px 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  line-height: 107%;
  text-align: center;
}

.aligned-text_right {
  line-height: 87%;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 80px;
  margin-right: 50px;
}

.cover__description-text {
  z-index: 2;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  z-index: 2;
  display: inline;
  border: solid 2px #fff;
  padding: 10px 32px 10px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  background-color: rgba(53, 69, 69, 0);
}

.bet-button__link {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(0%, 0%, 0%, 0.6);
}

/* Начало секции LOTS  */

.lots {
  padding: 152px 0px 182px 0px;
}

.lots__heading {
  margin: 27px 40px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  box-sizing: content-box;
  padding-bottom: 30px;
}

.lots-item-low {
  flex-grow: 1;
}

.lots__card-list-item {
  flex-grow: 3;
  flex-basis: 430px;
  list-style-type: none;
}

.lots__background__film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__background__book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__background__picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.lots__link-card {
  text-decoration: none;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  margin: 50px 44px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/* Начало секции ABOUT */

.about {
  display: flex;
  justify-content: space-between;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 143px;
  border-radius: 200px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 100px;
  width: 885px;
  margin-top: 36px;
  margin-right: 50px;
}

.about__column__title {
  margin-top: 65px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__column__text__p {
  margin-bottom: 30px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}


/* Начало FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 157px 50px 90px 50px;
}

.footer__menu {
  display: flex;
  margin-left: 5px;
}

.footer__menu-list-item {
  list-style: none;
  list-style-type: none;
}

.footer__menu-link {
  display: block;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}
